.footer{
    background-color: #566A74;
    width: 100%;
    border-radius: 5px;
}

/* RRSS AND EMAIL */
.article__footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0px;
}
.input__contact{
    width: 210px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-family: rlight;
    outline: none;
    background-color: #D0DDE3;
    border: none;
    color: #4c5d66;
}
.input__contact::placeholder{
    font-family: rlight;
}
.button__contact{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    margin: 0px 10px;
    font-family: rlight;
    transition: background-color 1s ease;
}
.button__contact:hover{
    background-color: #ffffff;
    color: #2B2B33;
}
.rrss{
    color: #ffffff;
    padding: 0px 5px;
    font-size: 1.1rem;
}
.container__contact{
    display: flex;
    align-items: center;
    color: #ffffff;
}
.text__contact{
    font-family: rlight;
    padding: 0px 10px;
}

/* TABLE */
.container__table{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.table{
    margin: 20px 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.table__th{
    color: #ffffff;
    font-family: rmedium;
    font-size: 1.3rem;
    padding: 10px 20px;
}
.table__td{
    font-family: rlight;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 5px 10px;
}
.table__link, .table__link1{
    color: #ffffff;
    text-decoration: none;
}
.table__link:hover{
    text-decoration: underline;
}