@font-face {
    font-family: rlight;
    src: url(../assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: rmedium;
    src: url(../assets/fonts/Roboto-Medium.ttf);
}
.header{
    width: 100%;
    position: relative;
}
/* HEADER */
.title__link{
    text-decoration: none;
    color: #566A74;
}

.header__section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #566A74;
}
.header__article{
    font-family: rmedium;
}

.article__header{
    font-size: 1rem;
}
.rubio__text{
    font-size: 0.5rem;
}
.header__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    padding: 0px 5px;
    list-style-type: none;
    transition: transform 1s ease;
}
.header__list:hover{
    transform: scale(1.2);
}

.header__link{
    text-decoration: none;
    color: #566A74;
    font-family: rlight;
    font-size: 0.9rem;
}
.header__link:hover{
    color: #566A74; 
}
.header__article--hambur{
    display: none;
}
.header__hambur{
    color: #566A74;
    font-size: 2rem;
    transition: transform 1s ease;
}
.header__hambur:hover{
    transform: scale(1.2);
    color: #566A74;
}
.colorMarron{
    color: #566A74;
}
    

/* VENTANA LOG IN */
.displaynone{
    display: none;
}
.displayflex{
    display: flex;
}
.login__close{
    text-decoration: none;
    color: #566A74;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
}
.section__login{
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
    align-items: center;
    border: 1px solid #566A74;
    width: 350px;
    border-radius: 5px;
    position: relative;
    position: absolute;
    top: 80px;
    right: 70px;
    animation-name: moveLog;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes moveLog {
    from{
        transform: translateY(-1000px);
    }
    to{
        transform: translateY(0px);
    }
}

.login__h3{
    font-family: rmedium;
    color: #566A74;
    font-size: 1.4rem;
}
.input__log{
    margin: 5px 0px;
    width: 220px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid #566A74;
    padding: 5px 10px;
    font-family: rlight;
    color: #566A74;
}
.input__log::placeholder{
    font-family: rlight;
}
.login__link{
    text-decoration: none;
    color: #566A74;
    padding: 0px 0px 0px 110px;
    font-family: rlight;
}
.login__link:hover{
    text-decoration: underline;
}
.button__log{
    margin: 10px 0px 20px;
    width: 240px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid #566A74;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: rlight;
    color: #ffffff;
    background-color: #566A74;
    text-decoration: none;
}
.button__log:hover{
    background-color: #566A74;
}