@font-face {
    font-family: rlight;
    src: url(../assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: rmedium;
    src: url(../assets/fonts/Roboto-Medium.ttf);
}
body{
    background-color: #D0DDE3;
}
.contenedor{
    border-radius: 5px;
    width: 100%;
    min-width: 600px;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
                "header"
                "main"
                "footer";
}
/* HEADER */
.header{
    grid-area: header;
    background-color: #ffffff;
    border-radius: 5px;
}


/* IMAGÉN PRINCIPAL */
.main{
    grid-area: main;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 40px 0px;
    padding: 20px 50px;
}
.section__imagen{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 60px 60px;
    text-align: center;
}
.article__imagen{
    width: 100%;
    position: relative;
}
.article__img{
    width: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 3;
}

/* CUADRADO TEXTO */
.container__text{
    display: none;
    background-color: #566A74;
    width: 300px;
    height: 200px;
    padding: 20px 40px;
    position: absolute;
    border-radius: 5px;
    top: 50px;
    left: -80px;
    z-index: 4;
}
.h3__text{
    font-family: rmedium;
    color: #ffffff;
    text-align: left;
}
.p__text{
    padding: 10px 0px 0px;
    font-family: rlight;
    color: #ffffff;
    text-align: justify;
}

/* CUADRADO FLECHA */
.container__row{
    display: none;
    background-color: #566A74;
    width: 100px;
    padding: 30px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    right: -40px;
    z-index: 4 ;
}
.row__container{
    color: #ffffff;
    font-size: 1.5rem;
}

/* CUADRADO VACIO */
.container__cuadrado{
    display: none;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -40px;
    left: -50px;
    border: 3px solid #566A74;
    border-radius: 5px;
}
.text__off{
    color: #ffffff;
}

/* BENEFICIOS */
.section__beneficios{
    width: 100%;
}
.article__title{
    text-align: center;
    color: #566A74;
    font-family: rmedium;
    font-size: 1.4rem;
}
.container__beneficios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 20px;
    flex-wrap: wrap; 
}
.article__beneficios{
    display: flex;
    justify-content: center;
    width: 180px;
    margin: 10px 70px;
    padding: 10px 30px;
    border: 1px solid #566A74;
    border-radius: 5px;
    color: #566A74;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    transition: all 1s ease;
}
.article__beneficios:hover{
    background-color: #566A74;
    color: #ffffff;
}
.font__beneficios{
    font-size: 1.2rem;
    margin: 0px 10px;
}
.h5__beneficios{
    font-family: rmedium;
    font-size: 1.1rem;
}
.p__beneficios{
    font-family: rlight;
}
.font__beneficios{
    padding: 28px 0px 0px;
}

/* EXPERIENCES */
.section__experience{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 50px 0px;
}
.experiencies__img{
    display: none;
}

.experiencies__text{
    width: 50%;
    margin: 0px 20px 0px 0px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.exp__h5{
    font-family: rmedium;
    font-size: 2rem;
    color: #566A74;
}
.exp__p{
    font-family: rlight;
    color: #566A74;
}
.container__exp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
.div__number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
.number{
    color: #4c5d66;
    font-size: 2.5rem;
    font-family: rmedium;
}
.text{
    color: #566A74;
    font-family: rlight;
    padding: 0px 0px 30px;
}

/* FORM CONTACT */
.section__contact{
  margin: 80px 0px 20px;  
  display: none;
  justify-content: center;
  position: relative;
}
.contact__img{
    position: relative;
    width: 800px;
    height: 600px;
    border-radius: 5px;
}
.article__contact{
    background-color: #ffffff;
    position: absolute;
    border-radius: 5px;
    z-index: 4;
    top: 120px;
}
.form__contact{
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.label__contact{
    padding: 5px 0px;
    font-family: rmedium;
    color: #566A74;
}
.input__contacto{
    margin: 5px 0px 10px;
    border: 1px solid #566A74;
    border-radius: 5px;
    outline: none;
    font-family: rlight;
    color: #566A74;
}
.input__contacto--email{
    padding: 10px;
    width: 350px;
}
.input__contacto--email::placeholder{
    color: #566A74;
    font-family: rlight;
}
.button__contacto{
    background-color: #566A74;
    border: 1px solid #566A74;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
    font-family: rlight;
}

/* FOOTER */
.footer{
    grid-area: footer;
}
