@media screen and (min-width: 600px) {
    
       
}
@media screen and (min-width: 768px) {
    .header__article--hambur{
        display: flex;
    }
    .experiencies__img{
        display: flex;
    }
    .table__td{
        padding: 5px 20px;
    }
}
@media screen and (min-width: 1024px) {
    .container__text{
        display: flex;
        flex-direction: column;
    }
    .container__row{
        display: flex;
        flex-direction: column;
    }
    .container__cuadrado{
        display: flex;
    }
    .table__td{
        padding: 5px 70px;
    }
}
@media screen and (min-width: 1200px) {
    .section__contact{
        display: flex;
    }
    .contactanos{
        display: flex;
        justify-content: center;
    }
    .article__header{
        font-size: 2.5rem;
    }
    .rubio__text{
        font-size: 1rem;
    }
    .header__link{
        font-size: 1.5rem;
    }
    .table__td{
        padding: 5px 100px;
    }
    .casita__inicio{
        display: flex;
        animation-name: movCasa;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    @keyframes movCasa {
        0%{
            transform: translateY(-1000px);
        }
        100%{
            transform: translateY(0px);
        }
     
    }
}



